[2022-10-13 08:16] TechVine opened #2 "Write Code in Python For following tasks"
1. Maximum and minimum of an array.
2. Find Kth smallest element of the array.
3. Move all negative numbers to beginning and positive to end with constant extra space.
4. Sort the given array
5. Smallest Positive missing number of given array.

[2022-10-13 08:23] TechVine commented on #2
sure you can do this

[2022-10-13 08:25] TechVine opened #3 "Searching & Sorting :: write code for at least one of following task in Python"
1. Binary search
2. bubble sort
3. quick sort
4. selection sort
5. insertion sort
6. heap sort
7. Merge sort

[2022-10-13 08:27] TechVine commented on #3
sure you can contribute

[2022-10-13 08:40] yashsarnaik22 commented on #3
can I do one of them, or maybe all?
can you assign it to me?

[2022-10-13 08:47] TechVine commented on #3
yes you can do anyone of them or all your choice just make sure your code is not copied

[2022-10-13 08:58] TechVine opened #4 "Linked List : write code for atleast one of the following task"
1. Basic Operations on Linked_list ( Traversal, Insertion, Deletion, Search )
2. Sort given linked list.
3. Insertion at beginning, end, and middle.
4. Deletion from beginning, end, and middle
5. Reverse a doubly linked list
6. Merge sort for Linked list
7. quick sort for linked list
8. Check if linked List is a circular linked list or not

[2022-10-13 09:01] Devesh-coder commented on #4
Hey @TechVine I would like to solve Merge sort for Linked List in java!

[2022-10-13 09:02] ArunPrasath5315 commented on #4
I would like to solve insertion at the beginning , end and middle? can you assign me?

[2022-10-13 09:02] TechVine opened #5 "Matrix :: Write code for atleast one of following programs"
1. rotate the matrix by 90 degrees.
2. Common elements in a given row of a given matrix
3. print elements of the matrix in the sorted sequence.
4. Search the given element in the matrix and also provide its position.

[2022-10-13 09:08] TechVine commented on #4
yes you can do it

[2022-10-13 09:09] TechVine commented on #4
soon i will add another folder for Java plz wait for that

[2022-10-13 09:18] Hussain6 commented on #4
@TechVine Can you assign this issue to me. I would like to contribute with Linked_list ( Traversal, Insertion, Deletion, Search ) in cpp .

[2022-10-13 09:40] TechVine commented on #4
yes you can contribute

[2022-10-13 09:55] DhruvChaurasia3418 commented on #3
can you assign this issue to me?

[2022-10-13 10:26] TechVine commented on #5
Sure you can contribute

[2022-10-13 10:27] TechVine commented on #3
yes you can do it

[2022-10-13 10:31] ArunPrasath5315 commented on #4
@TechVine middle means after an element specified or finding size and add in middle of linked list?

[2022-10-13 10:42] TechVine commented on #4
finding size & then inserting

[2022-10-13 11:04] SakshamSharma07 commented on #4
@TechVine Assign this to me ,i can contribute in this

[2022-10-13 11:05] SakshamSharma07 commented on #2
@TechVine assign this to me. i want to work on it

[2022-10-13 11:21] TechVine commented on #2
sure you can work

[2022-10-13 11:22] TechVine commented on #4
sure!!

[2022-10-13 11:30] inbuilt-aura commented on #4
Hey, is there any issue free,if yes i woul love to contribute in any of it cuz most of it i know about. Plzz let me do this.

[2022-10-13 12:45] TechVine commented on #4
Sure you can

[2022-10-13 12:46] TechVine commented on #4
yes you can contribute

[2022-10-13 13:02] arnav-vivian commented on #4
hello, can you please assing me to write a code for splitting a circular link list into two halves in c++.

[2022-10-13 13:06] TechVine commented on #4
Sure you can contribute , make sure you star marked this repository

[2022-10-13 13:11] Sanketh149 commented on #5
Hi, can you assign this task to me; I would like to do the last one

[2022-10-13 13:12] Sanketh149 commented on #4
I will do the tenth problem can u assign me with it?

[2022-10-13 13:13] Sanketh149 commented on #2
Assign me any of the problem left and i can contribute.. can you do this please?

[2022-10-13 13:13] Sanketh149 commented on #3
I want to work on merge sort can u help me in doing this?

[2022-10-13 13:17] TechVine commented on #5
sure you can do it

[2022-10-13 13:18] TechVine commented on #3
yes!! feel free to ask your questions

[2022-10-13 13:18] TechVine commented on #4
yes you can do it

[2022-10-13 13:21] TechVine commented on #2
you can do any task you want to do , a single task can be done by many users just make sure you do not use copied code.

[2022-10-13 13:28] rohitramteke1 commented on #4
Hey! Bro Give me the 3rd one
**Insertion at beginning, end, and middle.**

[2022-10-13 13:29] siddhesh3607 commented on #3
can i code on insertion sort

[2022-10-13 13:32] TechVine commented on #3
yes you can do it

[2022-10-13 13:33] TechVine commented on #4
sure, assigned

[2022-10-13 14:34] TechVine commented on #2
sure you can work on this

[2022-10-13 14:52] arnav-vivian commented on #2
hello sir, please assing me sorting of array.

[2022-10-13 15:54] SonjeVilas commented on #4
I would like solve 1st Basic Operations on Linked_list ( Traversal, Insertion, Deletion, Search ) using java . can you assign to me ?

[2022-10-13 16:18] SonjeVilas commented on #4
I would like solve **6th** no. problem `Merge sort for Linked list` . Can you assign me?

[2022-10-13 16:23] TechVine commented on #4
sure you can do it

[2022-10-13 16:24] TechVine commented on #4
ok!! you can contribute to this task

[2022-10-13 16:26] TechVine commented on #2
ok you can do it , plz don"t forget to star mark this repository

[2022-10-13 16:37] chetan1853 commented on #5
Hello, Sir can you assign this issue to me?

[2022-10-13 16:44] SonjeVilas commented on #4
I would like solve **7th** no. problem `quick sort for linked list` . Can you assign me?

[2022-10-13 17:00] Nishanthartham commented on #5
Hi, can you assign the first issue Rotate the matrix by 90 degrees to me

[2022-10-13 17:28] Rufus-paul commented on #3
sir can you assign this issue to me

[2022-10-13 17:38] Rufus-paul commented on #4
i would like to solve 5th Reverse a doubly linked list can you assign this  to me?

[2022-10-13 19:47] rohitramteke1 commented on #3
Bro give me the `Quick Sort`
Task No. 7 using `CPP`

[2022-10-13 20:27] TechVine commented on #5
Sure you can do it

[2022-10-13 20:29] TechVine commented on #3
sure , assigned

[2022-10-13 20:29] TechVine commented on #3
Assigned.....

[2022-10-13 20:31] TechVine commented on #4
assigned....

[2022-10-13 21:03] chetan1853 commented on #5
Hi, can you assign the fourth issue i.e., Search the given element in the matrix and provide its position? TO ME.?

[2022-10-14 02:35] SonjeVilas commented on #4
I would like solve 7th no. problem quick sort for linked list. Can you assign me?

[2022-10-14 02:45] SonjeVilas commented on #3
I want to work on 2nd no. problem Bubble Sort. Can you assign me?

[2022-10-14 04:20] yashsarnaik22 commented on #4
I am submitting a PR for heap sort, binary tree, binary search tree and AVL tree.
is that okay @TechVine

[2022-10-14 04:29] yashsarnaik22 commented on #3
@TechVine submitting a PR for Heap Sort and some Trees(BT, BST, AVL)

[2022-10-14 05:25] rohitramteke1 commented on #3
Can you assign me the `Binary search` and `bubble sort`, i will create the **optimised** version of **both** of them

[2022-10-14 07:52] TechVine commented on #4
yes but they all should be in separate files

[2022-10-14 07:54] TechVine commented on #3
sure!! you can contribute

[2022-10-14 08:17] rahulgithub-web commented on #5
Hi, can you assign the i.e Find Kth smallest element of the array in java under array folder

[2022-10-14 08:18] Debayan97531 commented on #4
@TechVine bhaiya please assign me in this..I can do it

[2022-10-14 08:19] Debayan97531 commented on #2
@TechVine bhaiya please assign me..I can do it

[2022-10-14 08:30] mrinal2002 commented on #3
can you assign this issue to me?

[2022-10-14 08:38] rohitramteke1 commented on #3
Bro assign me the `Bubble Sort` and `Binary-Search` and `Selection-Sort`

[2022-10-14 08:44] Vanshika2103 commented on #3
I want to work on the Bubble sort. Can I contribute on your task?

[2022-10-14 08:44] vert-ex commented on #3
can you assign this issue to me?

[2022-10-14 08:50] Vanshika2103 opened #39 "Pattern Programs in Java"
As you have created a repository for the different Programming Problems of Java. Can I work on the some Basic Pattern Programs using Java in Your Repository.

[2022-10-14 08:51] rohitramteke1 commented on #3
Bro you haven't assigned me the `Bubble Sort` and `Binary-Search` and `Selection-Sort`

[2022-10-14 08:59] Souvik8159 commented on #3
Can you assign me the Selection sort and Insertion sort, i will create the optimized version of both of them
using CPP

[2022-10-14 08:59] TechVine commented on #4
sure assigned.......

[2022-10-14 09:00] TechVine commented on #3
yes you can

[2022-10-14 09:00] TechVine commented on #3
you can do it

[2022-10-14 09:01] TechVine commented on #2
sure

[2022-10-14 09:03] mayukhvonox commented on #3
can you assign this issue to me? i want to work on every sort which is mentioned above surely . can i contribute on ur task as i want to contribute

[2022-10-14 09:04] TechVine commented on #39
sure you can

[2022-10-14 09:04] SonjeVilas commented on #4
hey bro you have not assign me to this task yet

[2022-10-14 09:05] TechVine commented on #4
you  can do it !

[2022-10-14 09:06] TechVine commented on #2
Sure you can , make sure you star mark this repo.

[2022-10-14 09:06] TechVine commented on #3
yes you can contribute

[2022-10-14 09:07] mayukhvonox commented on #39
can i work on the basic pattern programs in java in ur respitory want to contribute in your respiratory.

[2022-10-14 09:09] btexian commented on #3
Hi, can you assign this task to me; I would like to do the Merge sort using cpp?

[2022-10-14 09:32] Debayan97531 commented on #2
@TechVine bhaiya I've added the code for sorting the array..please merge it

[2022-10-14 09:32] Debayan97531 commented on #2
#44

[2022-10-14 09:58] Debayan97531 commented on #3
Bhaiya I've added the code for insertion and quick sort in cpp..wil you please merge it??

[2022-10-14 09:58] Debayan97531 commented on #3
#47

[2022-10-14 10:16] Serajhub commented on #3
can you assign this issue to me

[2022-10-14 10:18] codemastershrey commented on #3
HII bro, can you assign this issue? I want to work every sort which is mentioned above.

[2022-10-14 10:20] codemastershrey commented on #4
Hii bro, can you assign me to  this issue?

[2022-10-14 10:22] codemastershrey commented on #39
Hii bro, can I work on the various pattern programs in java  to contribute in your respiratory.

[2022-10-14 10:28] Debayan97531 commented on #4
@TechVine bhaiya code of segregate even & odd nodes in the linked list done in cpp..please merge my pr

[2022-10-14 10:28] Debayan97531 commented on #4
#49

[2022-10-14 10:58] DeveloperHulk commented on #3
can you assign this issue to me

[2022-10-14 11:17] Saikat-SS7 commented on #4
I can do 11th number problem, can you assign me ?

[2022-10-14 12:55] TechVine commented on #4
sure you can do it

[2022-10-14 12:56] TechVine commented on #4
sure  assigned..........

[2022-10-14 12:56] TechVine commented on #4
sure you can contribute , also make sure you star mark this repo

[2022-10-14 12:57] TechVine commented on #3
Assigned

[2022-10-14 12:58] TechVine commented on #3
ok you can do it , also make sure you have star marked this repo

[2022-10-14 12:59] TechVine commented on #3
yes you can do it

[2022-10-14 12:59] Adrita-2003 commented on #3
can you assign this issue to me?

[2022-10-14 13:21] TechVine commented on #39
Yes but make sure you comment the whole pattern in code or descriptiom so that it is easy to review for me

[2022-10-14 13:21] TechVine commented on #39
Yes !! but don"t make very basic ones

[2022-10-14 13:22] TechVine commented on #3
Assigned...........

[2022-10-14 13:29] Vanshika2103 commented on #39
please add the label of the hacktoberfest so that other can work securely.

[2022-10-14 13:51] Mohasin-Haque opened #65 "Array : Find the length of the array using for loop"
I would like to add the code for finding the length of the array using for loop

[2022-10-14 14:12] sagar-2709 commented on #2
can u assign this to me?

[2022-10-14 15:41] Kuntalpramanik commented on #65
can you assign this issue to me?

[2022-10-14 15:43] prathvid commented on #65
hey! can you assign this issue to me?

[2022-10-14 15:44] SagarVarshney-tech commented on #65
Can you assign this issue to me?

[2022-10-14 15:45] TechVine commented on #65
Sure !!

[2022-10-14 15:46] TechVine commented on #65
done

[2022-10-14 15:46] SagarVarshney-tech commented on #5
Can you assign  this to me the third one i.e. print elements of the matrix in the sorted sequence?

[2022-10-14 15:47] TechVine commented on #65
@SagarVarshney-tech you can also contribute

[2022-10-14 15:53] Kuntalpramanik commented on #4
I would like to solve problem no.4 ->Deletion from beginning, end, and middle.Can you pleasse assign me?

[2022-10-14 15:54] TechVine commented on #4
assigned!!

[2022-10-14 15:56] Kuntalpramanik commented on #3
Can you please assign me?

[2022-10-14 16:01] ARJUN-SINH-THAKOR commented on #65
Can you assign this issue to me?

[2022-10-14 16:02] prathvid commented on #3
Can you please assign me this task? I want to work on Binary Search, Bubble sort and Insertion sort?

[2022-10-14 16:08] SonjeVilas commented on #39
I would like to contribute with this issue. Can you assign me ?

[2022-10-14 16:35] btexian commented on #3
Can you please assign me this task? I want to work on Binary Search?

[2022-10-14 16:46] sabhisharma-ise commented on #3
Can you assign me this Issue?

[2022-10-14 16:49] Satorusimpp commented on #4
Hey bro! I would like to work on this issue.
Please assign it to me.

[2022-10-14 16:51] sabhisharma-ise commented on #2
Can you assign this issue?

[2022-10-14 16:51] Satorusimpp commented on #2
I want to contribute to it.Please assign it to me.

[2022-10-14 17:04] inbuilt-aura commented on #4
@TechVine hey, can you check I just pushed the Merge sort in Linkedlist in java.Can you confirm that?

[2022-10-14 17:21] Mohasin-Haque commented on #65
@TechVine Raised the PR. Please check

[2022-10-14 17:34] inbuilt-aura commented on #4
@TechVine, kindly check I just pushed a repo of Quick Sort in your Linked list Java folder. Till now i did two, Quicksort and Merge sort,let mw know

[2022-10-14 18:27] Serajhub commented on #5
can you assign this to me first.

[2022-10-14 18:38] Serajhub commented on #4
can you assign this to me. I would like to contribute seven question

[2022-10-14 18:58] Serajhub commented on #4
can you assign this to me .

[2022-10-14 21:11] saha-indranil opened #90 "Can I do the basic functions of singly linked list in python"
My code will contain these 7 functions in python for singly linked list
- Insert at First
- Insert at Last
- Insert at Any
- Delete from First
- Delete from Last
- Delete from Any
- Display Linked List

[2022-10-14 21:20] saha-indranil commented on #90
sir please merge my PR

[2022-10-14 21:27] saha-indranil opened #92 "Add Polynomial Addition using Singly Linked List"

[2022-10-14 21:30] saha-indranil commented on #92
This program takes 2 polynomial functions and performs the addition using single linked list

[2022-10-14 21:35] saha-indranil commented on #92
Please review and merge my PR 🙏🏼

[2022-10-14 21:46] saha-indranil opened #94 "Linked List: Add Merge Sort in Python"

[2022-10-14 21:49] saha-indranil opened #95 "Linked List: Add Binary Search in Python"

[2022-10-14 21:52] saha-indranil commented on #94
please merge my PR

[2022-10-14 21:55] saha-indranil commented on #95
please merge my PR
I have added binary search in python

[2022-10-14 22:41] Manus-MG commented on #39
Please assign me this issue I have list of all patterns from basic to advance, I can contribute.

[2022-10-15 02:41] Zetahaxx commented on #2
Can you assign this issue to me??

[2022-10-15 04:58] AvnitAnand commented on #95
Can you assign this issue to me?

[2022-10-15 05:00] AvnitAnand commented on #95
Can you assign this issue to me?

[2022-10-15 05:01] AvnitAnand commented on #94
Can you assign this issue to me?

[2022-10-15 05:01] AvnitAnand commented on #92
Can you assign this issue to me?

[2022-10-15 05:02] AvnitAnand commented on #90
Can you assign this issue to me?

[2022-10-15 05:03] AvnitAnand commented on #4
Can you assign this issue to me?

[2022-10-15 05:12] Shiprasuman02 commented on #3
Can u assign this  to me??

[2022-10-15 05:48] Serajhub commented on #3
can you assign it to me?

[2022-10-15 06:17] Umang3072 commented on #3
Can you assign this to me ?

[2022-10-15 06:19] Umang3072 commented on #5
Hi, can you assign this task to me; I would like to do the third one sorted sequence in matrix

[2022-10-15 06:22] Umang3072 commented on #2
Can you assign this issue ???

[2022-10-15 06:39] Kuntalpramanik commented on #5
can you assign me ? i want to contribute.

[2022-10-15 06:40] TechVine commented on #92
sure

[2022-10-15 06:43] Kuntalpramanik commented on #2
can you assign me to contribute?

[2022-10-15 06:46] TechVine commented on #2
@Zetahaxx    @Umang3072 @Kuntalpramanik @Satorusimpp @sabhisharma-ise  assigned........

[2022-10-15 06:46] TechVine commented on #39
@SonjeVilas @Manus-MG  assigned

[2022-10-15 06:49] TechVine commented on #90
@AvnitAnand assigned

[2022-10-15 06:50] TechVine commented on #3
@ assigned , also plz star mark this repo

[2022-10-15 06:50] Kuntalpramanik commented on #92
can you assign me?

[2022-10-15 06:51] TechVine commented on #95
@AvnitAnand  assigned

[2022-10-15 06:52] Kuntalpramanik commented on #94
can you assign me?

[2022-10-15 06:52] TechVine commented on #94
@AvnitAnand assigned

[2022-10-15 06:54] harshita9621 opened #107 "Tree:Shortest Distance between 2 Nodes in C++"
@TechVine Can I work on this issue

[2022-10-15 06:56] harshita9621 opened #108 "Tree : Height and Diameter in C++"
@TechVine Can I work on this issue

[2022-10-15 07:02] prasantpoudel opened #109 "Dynamic programming: Trapping Rain Water"
Write solution for Dynamic programming: Trapping Rain Water using python.

please assign this to me under Hacktoberfest Badge

[2022-10-15 07:15] TechVine commented on #108
sure

[2022-10-15 07:16] TechVine commented on #107
sure & also star mark this repo

[2022-10-15 07:16] harshita9621 commented on #108
@TechVine Is this repo part of hacktoberfest

[2022-10-15 07:18] kunalsingh1301 commented on #109
please assign this to me @TechVine

[2022-10-15 07:18] #94 closed

[2022-10-15 07:19] harshita9621 commented on #107
@TechVine Is this repo part of hacktoberfest

[2022-10-15 07:21] TechVine commented on #94
this is already present in python

[2022-10-15 07:22] TechVine commented on #107
yes

[2022-10-15 07:22] MrAvinab commented on #95
Can you please assign this issue to me? I want to contribute

[2022-10-15 07:23] TechVine commented on #109
assigned..........

[2022-10-15 07:24] TechVine commented on #108
yes I have added this repo & issue under of hacktoberfest tag so yes...

[2022-10-15 07:25] TechVine commented on #95
sure

[2022-10-15 07:25] TechVine commented on #92
assigned

[2022-10-15 07:28] Sakshi2002-Sinha commented on #108
hello,can you assign me this issue?

[2022-10-15 07:30] TechVine commented on #108
assigned

[2022-10-15 07:36] MrAvinab commented on #109
I want to contribute please assign me sir

[2022-10-15 07:38] sabhisharma-ise commented on #2
Please assign this to me!!

[2022-10-15 07:39] TechVine commented on #109
sure

[2022-10-15 07:40] TechVine commented on #2
sure......

[2022-10-15 08:04] Jyotisaini-2001 commented on #109
Hii, I want to contribute. Can you assign me.

[2022-10-15 08:06] kunalsingh1301 commented on #109
thanks for assigning @TechVine

[2022-10-15 08:44] aniket0332 commented on #109
Hii, I want to contribute the solution of Dynamic programming: Trapping Rain Water in Java,
I request you to assign this to me.

[2022-10-15 08:58] AvnitAnand commented on #3
Assign me this. I want to contribute to this repo.

[2022-10-15 08:59] aniket0332 commented on #108
Hello, can I work on this issue?

[2022-10-15 09:02] sagar-2709 commented on #65
can u assign this issue to me

[2022-10-15 09:03] aniket0332 commented on #92
Hello I want to contribute to this issue, can you assign this to me?

[2022-10-15 09:19] sagar-2709 commented on #65
minandmax #124 please check and merge. minandmax

[2022-10-15 09:20] Ayushitgithub commented on #3
hello bhaiya please bhaiya assign this issue to me i want to do it anyhow.

[2022-10-15 09:21] Ayushitgithub commented on #65
sir please assign to me i also watch your video also..

[2022-10-15 09:22] Ayushitgithub commented on #95
Sir please assign this issue to me i want to contribute

[2022-10-15 09:22] sagar-2709 commented on #65
every contribution ke liye baar baar assign lena hoga ya sirf ek baar.
if yes than assign me. i want to contribute other dsa concept.

[2022-10-15 09:23] Ayushitgithub commented on #2
Sir please assign issue to me....bhaiya please

[2022-10-15 09:23] sabhisharma-ise commented on #65
Can you please assign this issue to me?

[2022-10-15 09:23] sabhisharma-ise commented on #39
Can you please assign this issue to me?

[2022-10-15 09:23] Ayushitgithub commented on #4
Sir please assign this issue to me i want to contribute

[2022-10-15 09:24] sabhisharma-ise commented on #3
Can you please assign this issue to me?

[2022-10-15 09:24] Ayushitgithub commented on #5
bhaiya please assign this issue to me i want to contribute plz bhaiya......

[2022-10-15 09:24] sabhisharma-ise commented on #2
Can you please assign this issue to me?

[2022-10-15 09:25] Ayushitgithub commented on #39
bhaiya please assign this issue to me i want to contribute so that i can learn something

[2022-10-15 09:26] Ayushitgithub commented on #65
sir please assign this issue to me i want to contribute and wanted to learn something new.....

[2022-10-15 09:27] Ayushitgithub commented on #90
sir please assign to me this issue..

[2022-10-15 09:29] sagar-2709 commented on #3
can you assign me this issue?

[2022-10-15 09:44] Ayushitgithub commented on #109
assign to me sir

[2022-10-15 10:39] inbuilt-aura commented on #3
@TechVine ,I would like to do Selection and insertion sort,plzz assign me

[2022-10-15 10:55] utsab1009 commented on #109
Can you please assign this issue to me ?

[2022-10-15 10:57] utsab1009 commented on #95
Can you please assign this issue ?
I want to contribute.

[2022-10-15 10:57] utsab1009 commented on #90
Can you please assign this issue to me ?

[2022-10-15 10:58] utsab1009 commented on #2
Can you please assign this issue to me ?

[2022-10-15 10:59] utsab1009 commented on #3
Can you please assign this issue to me ?

[2022-10-15 11:03] btexian commented on #3
[image: image.png]

why i am getting this

On Sat, 15 Oct 2022 at 16:29, Utsab Ray ***@***.***> wrote:

[2022-10-15 11:05] btexian commented on #108
can u assign this issue to me?

[2022-10-15 11:08] btexian commented on #3
can u assign me for heap sort?

[2022-10-15 12:22] carboxlic commented on #39
Can u assign this issue to me ?

[2022-10-15 12:49] Kuntalpramanik commented on #108
please assing me.

[2022-10-15 12:49] Kuntalpramanik commented on #108
can you assign this issue to me?

[2022-10-15 13:26] inbuilt-aura commented on #4
@TechVine,hey you didn't added that,is your repo excluded from hacktoberfest or there is some bug cuz you merged my repo but it's not showing

[2022-10-15 14:04] nhimanshujain opened #132 "Longest Common Subsequence implementation in JAVA | Dynamic Programming | Strings"
Hi @TechVine , can you please assign this issue to me and add Hacktoberfest labels !!

[2022-10-15 14:23] shindenikhil659 commented on #2
Can you please assign this issue to me ?

[2022-10-15 14:24] shindenikhil659 commented on #3
Can you please assign this issue to me ?

[2022-10-15 16:19] abhisheky1806 commented on #2
Please assign this to me!!

[2022-10-15 16:20] SonjeVilas commented on #92
Hey Bro I would like contribute to this issue. Can you assign me?

[2022-10-15 16:21] abhisheky1806 commented on #90
Can you please assign this issue to me ?

[2022-10-15 16:21] Harshithgithub commented on #108
Hi, can you assign m,e this issue?

[2022-10-15 16:22] Harshithgithub commented on #92
bro, can you assign me this issue?

[2022-10-15 16:24] abhisheky1806 commented on #3
assign me this

[2022-10-15 16:42] MrJayendra commented on #109
I am interested in this work.
Please assign it to me

[2022-10-15 17:57] iTsChEtAn07 commented on #3
pls assign this issue to me.

[2022-10-15 19:44] mayukhcelestial commented on #3
@TechVine BHaiya can u assign this to me pls

[2022-10-15 19:45] mayukhcelestial commented on #132
@TechVine can you please assign this issue to me Pls bhaiya want to contribute

[2022-10-15 19:46] mayukhcelestial commented on #109
@TechVine Can you please assign this issue to me can i contribute in ur repository pls bhaiya

[2022-10-16 02:40] nitesh202020 commented on #3
@TechVine can you please assign me this

[2022-10-16 05:03] Kuntalpramanik commented on #107
can you assign me?

[2022-10-16 05:36] LakshyaBhar commented on #65
Sir please assign this issue to me?

[2022-10-16 05:37] LakshyaBhar commented on #109
Can I do it?

[2022-10-16 05:39] LakshyaBhar commented on #132
Sir can you assign this issue to me?

[2022-10-16 05:40] LakshyaBhar commented on #108
Can I do it?

[2022-10-16 08:33] gopikavarshini commented on #3
@assign me please

[2022-10-16 08:36] KirtiPandey19 commented on #3
sir, can you assign this issue to me ?

[2022-10-16 09:34] chiragbiradar commented on #2
Hey @TechVine can you assign Maximum and minimum of an array to me?

[2022-10-16 10:07] aditi-chaurasia commented on #3
can you assign this issue to me?

[2022-10-16 10:56] faizan1191 commented on #5
Can you assign this to me??
I would like to do the 4th task.

[2022-10-16 13:00] venkatamunireddy commented on #65
can you assign issue to me?

[2022-10-16 13:38] SagarVarshney-tech commented on #5
@TechVine can you assign no. 1(rotate the matrix by 90 degrees) issue to me?

[2022-10-16 13:41] SagarVarshney-tech commented on #95
Can you assign this issue to me?

[2022-10-16 22:31] harshdeep-singh-narula007 commented on #132
Sir please assign this issue to me I have an optimised solution.

[2022-10-16 22:33] harshdeep-singh-narula007 commented on #39
Sir please assign this issue to me I want to contribute.

[2022-10-16 22:35] harshdeep-singh-narula007 commented on #4
Sir please assign problem 11 to me so that I can contribute.

[2022-10-16 22:37] harshdeep-singh-narula007 commented on #65
Sir please assign this issue to me.

[2022-10-16 22:38] harshdeep-singh-narula007 commented on #109
Sir please assign this issue to me I want to contribute.

[2022-10-17 04:32] Anwesha-157 commented on #3
can you assign this issue to me?

[2022-10-17 07:46] Abir-07 commented on #65
plss assign this issue to me

[2022-10-17 07:49] Rohan-Saini7996 commented on #65
can you please assign it to me!

[2022-10-17 12:10] Rohit321-bit commented on #3
Hello,can you please assign me this?

[2022-10-17 12:13] arpanbiki commented on #39
please assign me this issue.

[2022-10-17 12:14] arpanbiki commented on #90
please assign me this issue sir.

[2022-10-17 12:14] arpanbiki commented on #4
please assign me this issue sir.

[2022-10-17 12:15] arpanbiki commented on #3
please assign me this issue sir.

[2022-10-17 12:38] ayushnandanwar commented on #3
Please Assign this to I will do one of them in Java.

[2022-10-17 13:04] ayushnandanwar opened #145 "Sorting & Searching algorithms in Java"
Hello, @TechVine. I'd want to write some algorithm in java programming.
I'd want to contribute to your repo by writing some code in the java folder (looking like something is not there).
Please allocate this issue to me; I will try to address as many problems as possible.

[2022-10-17 13:29] rv1830 commented on #65
can you please assign this issue to me ?

[2022-10-17 14:46] Subha-12 commented on #65
Can you assign the issue to me?

[2022-10-17 15:29] ankit0802 commented on #109
Hi, Bhaiya Please Assign this task to me ,This would be my first PR in this Hacktoberfest! .Just came here after watching your video.
I will be happy to contribute here as my first PR.

[2022-10-17 15:32] ankit0802 commented on #107
Hi Bhaiya ,Please Assign this task to me ,I have solved 350+leetcode problems and want to contribute here.

[2022-10-17 16:31] Nivedithapm06 commented on #145
please assign this issue to me

[2022-10-17 16:32] Nivedithapm06 commented on #3
please assign this issue to me

[2022-10-17 16:50] Sneham102 commented on #5
assign plz

[2022-10-17 17:12] its-deepakk commented on #3
can you assign this issue to me?

[2022-10-17 17:18] iamkd09 commented on #65
can you assign this issue to me?

[2022-10-17 17:20] iamkd09 commented on #145
can you assign this task to me?

[2022-10-17 17:21] iamkd09 commented on #132
can you assign this task to me?

[2022-10-17 17:21] iamkd09 commented on #109
Can you assign this task to me?

[2022-10-17 17:22] iamkd09 commented on #108
can you assign this task to me?

[2022-10-17 17:23] iamkd09 commented on #107
can you assign this task to me?

[2022-10-17 17:23] iamkd09 commented on #95
can you assign this task to me?

[2022-10-17 17:57] Sayan1412 commented on #145
can you issue this role to me?

[2022-10-17 18:11] SumedhDongre031 commented on #3
Can you assign me this issue?

[2022-10-17 18:12] SumedhDongre031 commented on #2
can you assign me to contribute?

[2022-10-17 18:13] SumedhDongre031 commented on #4
can you assign me to contribute?

[2022-10-17 18:56] nirbhaykr87 commented on #4
Please assign issues No. 1,2,3,4,5 to me .

[2022-10-17 18:56] nirbhaykr87 commented on #92
Please assign this issue to me

[2022-10-17 19:00] nirbhaykr87 commented on #5
Please assign  any issues from 1,3,4 to me.

[2022-10-17 19:00] nirbhaykr87 commented on #65
Please assign this issue to me.

[2022-10-17 19:02] nirbhaykr87 commented on #3
please assign any issues from 1 to 7 to me.

[2022-10-18 03:35] biswajitpat commented on #39
Sir Please assign this isue to me so that i can show you some of the good patterns using java.

[2022-10-18 03:37] biswajitpat commented on #90
sir please assign this issue to me so that i will be able to solve this issue.

[2022-10-18 03:41] biswajitpat commented on #145
Hello @TechVine  i want to solve this issue. sir please assign this issue to me .

[2022-10-18 03:41] biswajitpat commented on #107
Hello @TechVine  sir please assign this issue to me so that i will be able to solve this issue.

[2022-10-18 03:42] biswajitpat commented on #132
Hello @TechVine  sir please assign this issue to me so that i will be able to solve this issue.

[2022-10-18 05:01] ShubhamX12 commented on #95
can you asign this issue to me ?
I want to contribute.

[2022-10-18 05:04] ShubhamX12 commented on #132
Hello @TechVine sir can you assign this task to me and I will solve it.

[2022-10-18 05:09] ShubhamX12 commented on #2
Hello sir, can you assign any two tasks to me for contributation?

[2022-10-18 05:11] ShubhamX12 commented on #90
Hello sir, I want to this repository so can you assign this task to me?

[2022-10-18 05:12] ShubhamX12 commented on #92
Hello sir,can you assign this issue to me.

[2022-10-18 05:13] ShubhamX12 commented on #65
Hello sir,can you assign issue to me ?

[2022-10-18 08:09] Ishika-Jaiswal commented on #145
can you assign this issue to me?

[2022-10-18 08:35] rv1830 commented on #65
Hello Sir , Hope you are doing well . Can You Please assign this issue to me.

[2022-10-18 09:40] Mayankkumarmk commented on #65
@TechVine PLEASE ASSIGN THIS TASK TO ME.
I WOULD LIKE TO WRITE THE CODE FOR THIS ISSUE.
THANK YOU

[2022-10-18 09:44] Mayankkumarmk commented on #5
@TechVine HELLO, SIR {PLEASE ASSIGN THIS TASK TO ME}.
I WOULD LIKE TO WRITE THE CODE FOR THIS ISSUE.
THANK YOU

[2022-10-18 15:29] Sahil-Kushwaha224 commented on #3
can you assign this issue to me?

[2022-10-18 17:49] naren05S commented on #2
Hey @TechVine  can you assign me this issue

[2022-10-18 18:06] adithyaranand commented on #145
Hi @TechVine can you assign this issue to me?

[2022-10-18 18:10] adithyaranand commented on #90
pls assign this issue to me

[2022-10-18 18:11] adithyaranand commented on #65
pls assign this issue to me

[2022-10-19 04:31] naren05S commented on #65
Hey @TechVine can you assign me this issue

[2022-10-19 04:31] naren05S commented on #3
Hey @TechVine can you assign me this issue

[2022-10-19 05:51] VinmayiSwamy commented on #2
Hai @TechVine, can you please assign this to me

[2022-10-19 12:08] hashanranasinghe commented on #65
Hey @TechVine can you assign me this issue

[2022-10-19 13:16] shubhig226 commented on #3
Please assign this issue to me.

[2022-10-19 13:18] shubhig226 commented on #4
Sir please assign this issue to me i want to contribute

[2022-10-19 15:47] A3939 opened #164 "I can write"
i can write solution can you assign to me ??

[2022-10-19 16:09] riyapandey730 commented on #3
please assign this to me?

[2022-10-19 16:13] riyapandey730 commented on #2
@TechVine  can you assign this to me?

[2022-10-19 16:14] riyapandey730 commented on #4
can you assign this to me?

[2022-10-19 16:34] Krrishn07 commented on #3
Hi! @TechVine , can i be assigned this issue to work upon and provide my contribution

[2022-10-19 18:20] WaqarYounus2000 commented on #145
i can do this, assign me i have my own code to contribute

[2022-10-20 03:24] vishnu9701 commented on #2
Can u assign me this?

[2022-10-20 11:59] prithwish249 commented on #95
Can you assign this issue to me?
I want to contribute.

[2022-10-20 12:03] Vishesh-Vijay commented on #108
can you assign this to me

[2022-10-20 12:07] ankitkumarsingh1702 commented on #3
Hey @TechVine can you assign me this issue

[2022-10-20 12:19] prithwish249 commented on #92
sir can you assign it to me?

[2022-10-20 12:20] prithwish249 commented on #65
I would like to add the code for finding the length of the array using for loop.

[2022-10-20 12:21] prithwish249 commented on #3
sir can you assign this issue to me?

[2022-10-20 12:24] codingkush opened #170 "Circular linked list in c++"
I want to work on this issue...

[2022-10-20 12:27] ankitkumarsingh1702 commented on #109
Hey @TechVine can you assign me this issue

[2022-10-20 12:28] ankitkumarsingh1702 commented on #39
Hey @TechVine can you assign me this issue

[2022-10-20 12:30] ankitkumarsingh1702 commented on #164
Hey @TechVine can you assign me this issue

[2022-10-20 12:31] KA2501 commented on #109
Can you assign this task to me?

[2022-10-20 12:32] prithwish249 commented on #2
Can u assign me this?

[2022-10-20 12:32] KA2501 commented on #108
Can you assign this task to me?

[2022-10-20 12:32] KA2501 commented on #95
Can you assign this task to me?

[2022-10-20 12:32] KA2501 commented on #65
Can you assign this task to me?

[2022-10-20 12:37] codingkush opened #171 "Move Zeros to the Left in array in c++"
An integer array, move all elements that are 0 to the left while maintaining the order of other elements in the array.

[2022-10-20 12:38] codingkush commented on #171
I want to contribute on this issue...pls assign me

[2022-10-20 13:53] Krrishn07 commented on #95
Greetings! @TechVine  I am interested to solve this issue, please assign me this.

[2022-10-20 14:30] Krrishn07 commented on #92
Hello! @TechVine Please assign me this issue so that i can provide my contribution to it.

[2022-10-20 15:49] aditi-chaurasia commented on #65
can u assign this issue to me??

[2022-10-20 19:04] Tanucode commented on #2
May I contribute to this issue?

[2022-10-20 19:09] Tanucode commented on #3
May I contribute to this ?

[2022-10-21 07:45] Sandhya-08 commented on #2
Can you please assign this issue to me?

[2022-10-21 07:48] Sandhya-08 commented on #108
Can you please assign this to me?

[2022-10-21 08:38] rabi-1 commented on #3
Can you assign this issue to me?

[2022-10-21 17:32] Himanshuhi commented on #3
can you assign this issue to me?
I can do Binary search in any language.

[2022-10-21 17:36] btexian commented on #170
can u please assign me this issue?

[2022-10-21 17:37] Himanshuhi commented on #5
I will do 3.print elements of the matrix in the sorted sequence.
can you please assign me?

[2022-10-21 17:39] Himanshuhi commented on #108
can you please assign this to me?

[2022-10-21 18:28] codingkush commented on #170
I also want to work on this issue 🙂

[2022-10-21 18:46] dattaanupam17 commented on #3
can you assign this issue to me ?

[2022-10-21 20:43] amanaggarwal06 commented on #107
Hey, I wanted to do this.
Can you please assign it to me?

[2022-10-22 08:18] Prameet-Kumar commented on #170
I really wanna work on this issue. I have sound knowledge of D.S.A. Please assign this task to me. I would be very thankful to you.

[2022-10-22 08:20] Prameet-Kumar commented on #171
Sir, please assign this task to me. I badly need this.

[2022-10-22 08:24] codingkush commented on #170
@Prameet-Kumar bro you can work on another DSA concept or problems 😊

[2022-10-22 08:26] Prameet-Kumar commented on #5
Sir, can you please assign the fourth one to me?

[2022-10-22 08:30] Prameet-Kumar commented on #2
Hey bro! please assign this task to me. I can do all @TechVine

[2022-10-22 08:54] Prameet-Kumar commented on #170
ok, sir👍. Thanks for the reply

[2022-10-22 09:13] Prameet-Kumar commented on #170
I have commented on other problems also of your different repositories. May you please have a look at that and assign any?

[2022-10-22 10:28] parthasarathy27 commented on #3
can you assign this issue to me!...hacktoberfest event

[2022-10-22 13:32] dimple031 commented on #132
Can you assign this issue to me?

[2022-10-22 13:35] dimple031 commented on #109
Can you please assign this issue to me ?

[2022-10-22 15:07] Rosh-h commented on #3
Hello @naren05S can you assign this to me I will create the cpp code of binary search and  bubble sort

[2022-10-22 15:07] Souvik2024 commented on #95
Hi @TechVine, can you assign this issue to me?
I want to contribute.

[2022-10-22 15:08] Rosh-h commented on #3
hello @TechVine  can you assign this to me  I will create a cpp code of binary search and bubble sort.

[2022-10-22 15:10] Rosh-h commented on #5
hello @TechVine can you assign this to me I will do the  4th task that is ,Search the given element in the matrix and also provide its position

[2022-10-22 15:12] Rosh-h commented on #65
hello @TechVine can you assign this to me i.e  Find the length of the array using for loop

[2022-10-22 18:06] ankitkumarsingh1702 commented on #3
Hi, Do you want PR for Havtoberfest

On Sat, 22 Oct, 2022, 8:37 pm Roshni Gupta, ***@***.***>
wrote:

[2022-10-23 08:31] Shreyasidas21 commented on #65
Can you  assign  this issue to  me?

[2022-10-23 08:35] Shreyasidas21 commented on #3
Can you assign to me?

[2022-10-23 12:53] parthasarathy27 commented on #3
can you assign this issue to me!

[2022-10-23 19:22] Tanunagvanshi commented on #171
hey, please assign this to me

[2022-10-24 03:14] codingkush commented on #171
Pls assign this issue to me @TechVine

[2022-10-24 12:43] Ayushisri29 commented on #4
Hey i would like to solve quick sort for linkedlist can you assign tp me

[2022-10-24 12:44] Ayushisri29 commented on #4
pleade assign this issue to me

[2022-10-25 10:00] sahanasubramaniam commented on #3
Can you assign this issue to me?

[2022-10-25 14:29] ShubhamX12 commented on #39
Hey @TechVine  Can you assign the issue to me.

[2022-10-26 02:50] ghost commented on #3
Hey @TechVine can I contribute in this repository

[2022-10-26 02:51] ghost commented on #4
Hey @TechVine Can I contribute in this repository

[2022-10-26 04:17] Hareesh061 commented on #3
I wanted to know how this code works. So can you assign this work to me?

[2022-10-26 13:48] ShrutikaK2911 commented on #108
please assign this to me under Hacktoberfest Badge

[2022-10-27 05:28] kaustavsarkar14 commented on #145
Can you please assign this to me?

[2022-10-27 12:00] mayukhcelestial commented on #171
bhaiya pls assign me also merged mine pls @TechVine

[2022-10-27 12:37] codingkush commented on #171
@mayukhvonox bro i also want to work on this issue but none is responding..☹️

[2022-10-27 16:31] AditiSri246 commented on #90
Can you please assign this issue to me?

[2022-10-27 16:36] AditiSri246 commented on #5
Can you please assign this issue to me? I would like to write the code for the last task.

[2022-10-27 16:38] AditiSri246 commented on #4
Can you please assign this issue to me?

[2022-10-28 03:44] Deepakrathore2002 commented on #109
can you assign me this issue ?

[2022-10-28 03:45] Deepakrathore2002 commented on #65
can you assign this issue to me?

[2022-10-28 03:46] Deepakrathore2002 commented on #108
can you assign this to me under Hacktober-fest Badge?

[2022-10-28 03:46] Deepakrathore2002 commented on #171
can you assign this to me under Hacktober-fest Badge?

[2022-10-28 19:04] myselfvanshu commented on #109
Can you please assign this issue to me ?